
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Content.cshtml";
}



@section Scripts{
    <script src="~/Content/Javascript/json3.js"></script>
    <script src="~/Content/app/datePicker.js"></script>
    <!--[弹出层]-->
    <script src="~/Content/Javascript/ngDialog/ngDialog.js"></script>
    <!--[弹出层end]-->

    <script>
        var type = '@ViewData["type"]';
        $(function () {
            setByType();
        });
        var now = new Date();
        function setByType() {
            $('.forBook').css('display', 'none');
            if (type != 'edit') {
                $('.forEdit').remove();
            }
            else {
                $('.forView').remove();
            }
        }
        var app = angular.module('CreateOrUpdate', ['datePicker',  'ngDialog']);
        app.config(['$locationProvider', function ($locationProvider) {
            $locationProvider.html5Mode(true);
        }]);
        app.controller('CreateController', ['$scope', '$timeout', 'BusinessService', 'ngDialog', function ($scope, $timeout, BusinessService, ngDialog) {
            $scope.curObj = {
            };
            var id = '@ViewData["Id"]';
            var UserBaseinfoId='@ViewData["UserBaseinfoId"]';
            var getComData = true;
            var getComData2 = false;
            //获取周期类型
            if (UserBaseinfoId != "00000000-0000-0000-0000-000000000000") {
                //loadOrderAndInitData();
                $timeout(function () {
                    loadOrderAndInitData();
                    //if (getComData) {
                    //    loadOrderAndInitData();
                    //}
                    //else {
                    //    loadOrderAndInitData();
                    //}
                }, 100);
            }

            var loadOrderAndInitData = function () {               
                BusinessService.getMealOrder().success(function (response) {
                    //alert(response.OrderMealCount);
                    $scope.ListPageSubscribeOrderMealData = response.SubscribeOrderMeal;
                    if (response.OrderMealCount == 0)
                        $('.forOrder').css('display', 'none');
                    else
                        $('.forOrder').css('display', '');
                    $scope.ListPageOrderMealData = response.OrderMealList;
                    if (response.SubscribeOrderMealCount == 0)
                        $('.forSOrder').css('display', 'none');
                    else
                        $('.forSOrder').css('display', '');
                }).error(function (err) {
                    mgsDialog("网络出错！", false);
                    //box.alert("网络出错！", { icon: 'error' });
                }).then(function () { });
                BusinessService.getDinningRoomAsDict(UserBaseinfoId).success(function (response) {
                    $scope.dictDinningRoom = response.items;
                    $scope.curObj.DinningRoomID = response.defaultvalue;
                    loadCurData();
                }).error(function (err) {
                    mgsDialog("网络出错！", false);
                    //box.alert("网络出错！", { icon: 'error' });
                }).then(function () { });
                $scope.curObj.OrderType = "O";
                $scope.curObj.StartDate = now.Format('yyyy-MM-dd');
            }
            var mgsDialog = function (msg, isTrue) {
                var c = ' blackbox_icon_success';
                if (!isTrue)
                    c = ' blackbox_icon_error';
                template = '<div  class="msg_icon' + c + '"><p>' + msg + '</p> </div>';
                var dialog = ngDialog.open({
                    template: template,
                    plain: true,
                    closeByDocument: false,
                    closeByEscape: false,
                    showClose: false,
                    title: '信息提示',
                    disableAnimation: true,
                    width: 500,
                    height: 180
                });
                setTimeout(function () {
                    dialog.close();
                }, 2000);
            }
            var loadCurData = function () {
                var DinningRoomId = $scope.curObj.DinningRoomID;
                BusinessService.getMealPlaceAsDict(DinningRoomId).success(function (response) {
                    $scope.dictMealPlace = response.items;
                    $scope.curObj.MealPlace = response.defaultvalue;
                }).error(function (err) {
                    mgsDialog("网络出错！", false);
                    //box.alert("网络出错！", { icon: 'error' });
                }).then(function () { });
                BusinessService.getMealTimeAsDict(DinningRoomId).success(function (response) {
                    $scope.dictMealTime = response.items;
                    $scope.curObj.MealTime = response.defaultvalue;
                    var MealTime = $scope.curObj.MealTime;
                    var postData = {
                        DinningRoomId: DinningRoomId,
                        MealTimeType: MealTime
                    };
                    BusinessService.getMealPackageAsDict(postData).success(function (response) {
                        $scope.dictMealPackage = response.items;
                        $scope.curObj.MealPackage = response.defaultvalue;
                    }).error(function (err) {
                        mgsDialog("网络出错！", false);
                        //box.alert("网络出错！", { icon: 'error' });
                    }).then(function () { });
                    BusinessService.getOrderBookAsDict(postData).success(function (response) {
                        $scope.dictOrderBook = response.items;
                        $scope.curObj.OrderBook = response.defaultvalue;
                    }).error(function (err) {
                        mgsDialog("网络出错！", false);
                        //box.alert("网络出错！", { icon: 'error' });
                    }).then(function () { });
                }).error(function (err) {
                    mgsDialog("网络出错！", false);
                    //box.alert("网络出错！", { icon: 'error' });
                }).then(function () { });
            }
            $scope.ChangeDinningRoom = function (DinningRoomId, MealTime) {
                loadCurData();
                $scope.curObj.OrderType = "O";
                setByType();
                $scope.curObj.StartDate = new Date().Format('yyyy-MM-dd');
            };
            $scope.ChangeMealTime = function (DinningRoomId, MealTime) {
                var postData = {
                    DinningRoomId : DinningRoomId,
                    MealTimeType : MealTime
                };
                BusinessService.getOrderBookAsDict(postData).success(function (response) {
                    $scope.dictOrderBook = response.items;
                    $scope.curObj.OrderBook = response.defaultvalue;
                }).error(function (err) {
                    mgsDialog("网络出错！", false);
                    //box.alert("网络出错！", { icon: 'error' });
                }).then(function () { });
                BusinessService.getMealPackageAsDict(postData).success(function (response) {
                    $scope.dictMealPackage = response.items;
                    $scope.curObj.MealPackage = response.defaultvalue;
                }).error(function (err) {
                    mgsDialog("网络出错！", false);
                    //box.alert("网络出错！", { icon: 'error' });
                }).then(function () { });
            };
            $scope.ChangeOrderType = function () {
                var type = $scope.curObj.OrderType;
                if(type=="O"){
                    $('.forBook').css('display', 'none');
                }
                else {
                    $('.forBook').css('display', '');
                }
                var postData = {
                    DinningRoomId: $scope.curObj.DinningRoomID,
                    MealTimeType: $scope.curObj.MealTime
                };
                BusinessService.getOrderBookAsDict(postData).success(function (response) {
                    $scope.dictOrderBook = response.items;
                    $scope.curObj.OrderBook = response.defaultvalue;
                }).error(function (err) {
                    mgsDialog("网络出错！", false);
                    //box.alert("网络出错！", { icon: 'error' });
                }).then(function () { });
            };
            $scope.BackData = function (Id) {//
                BusinessService.BackOrderData([Id]).success(function (response) {
                    if (response.IsSuccess) {
                        mgsDialog(response.Message, true);
                        //box.alert(response.Message, { icon: 'success' });
                        BusinessService.getMealOrder().success(function (response) {
                            $scope.ListPageSubscribeOrderMealData = response.SubscribeOrderMeal;
                            if (response.OrderMealCount == 0)
                                $('.forOrder').css('display', 'none');
                            else
                                $('.forOrder').css('display', '');
                            $scope.ListPageOrderMealData = response.OrderMealList;
                            if (response.SubscribeOrderMealCount == 0)
                                $('.forSOrder').css('display', 'none');
                            else
                                $('.forSOrder').css('display', '');
                        }).error(function (err) {
                            mgsDialog("网络出错！", false);
                            //box.alert("网络出错！", { icon: 'error' });
                        }).then(function () { });
                    }
                    else {
                        mgsDialog(response.Message, false);
                        //box.alert(response.Message, { icon: 'error' });
                    }
                }).error(function (response) {
                    mgsDialog("网络出错！", false);
                    //box.alert("网络出错！", { icon: 'error' });
                });
            };
            $scope.BackSubscribeOrderData = function (Id) {//
                BusinessService.BackSubscribeOrderData([Id]).success(function (response) {
                    if (response.IsSuccess) {
                        mgsDialog(response.Message, true);
                        //box.alert(response.Message, { icon: 'success' });
                        BusinessService.getMealOrder().success(function (response) {
                            $scope.ListPageSubscribeOrderMealData = response.SubscribeOrderMeal;
                            if (response.OrderMealCount == 0)
                                $('.forOrder').css('display', 'none');
                            else
                                $('.forOrder').css('display', '');
                            $scope.ListPageOrderMealData = response.OrderMealList;
                            if (response.SubscribeOrderMealCount == 0)
                                $('.forSOrder').css('display', 'none');
                            else
                                $('.forSOrder').css('display', '');
                        }).error(function (err) {
                            mgsDialog("网络出错！", false);
                            //box.alert("网络出错！", { icon: 'error' });
                        }).then(function () { });
                    }
                    else {
                        mgsDialog(response.Message, false);
                        //box.alert(response.Message, { icon: 'error' });
                    }
                }).error(function (response) {
                    mgsDialog("网络出错！", false);
                    //box.alert("网络出错！", { icon: 'error' });
                });
            };
            $scope.save = function () {
                $scope.editForm.failSubmited = false;
                if ($scope.editForm.$valid) {
                    var postData = $scope.curObj;
                    BusinessService.save(postData).success(function (response2) {
                        if (response2.IsSuccess) {
                            //alert("保存成功");
                            loadOrderAndInitData();
                            mgsDialog(response2.Message, true);
                            
                        }
                        else {
                            mgsDialog(response2.Message, false);
                            //box.alert(response.Message, { icon: 'error' });
                        }
                    }).error(function (response2) {
                        mgsDialog("网络出错！", false);
                        //box.alert('网络出错！', { icon: 'error' });
                    });
                }
                else {
                    $scope.editForm.failSubmited = true;
                }
            };
        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};
            serive.save = function (postData) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'OrderMeal/Save',
                    data: postData
                });
            };
            serive.getMealOrder = function () {
                return $http({
                    method: 'POST',
                    url: CurPath + 'OrderMeal/GetMealOrderData'
                });
            };
            serive.BackOrderData = function (ids) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'OrderMeal/BackOrder',
                    data: ids
                });
            };
            serive.BackSubscribeOrderData = function (ids) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'OrderMeal/BackSubscribeOrder',
                    data: ids
                });
            };
            //获取服务信息作为字典
            serive.getDinningRoomAsDict = function (UserBaseinfoId) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'OrderMeal/getDinningRoomAsDict' ,
                    data :{ UserBaseinfoId : UserBaseinfoId }
                });
            };
            serive.getMealTimeAsDict = function (DinningRoomId) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'OrderMeal/getMealTimeAsDict',
                    data: { DinningRoomID: DinningRoomId }
                });
            };
            serive.getMealPackageAsDict = function (postData) {
                //alert("hrere");
                return $http({
                    method: 'POST',
                    url: CurPath + 'OrderMeal/getMealPackageAsDict',
                    data: postData
                });
            };
            serive.getMealPlaceAsDict = function (DinningRoomId) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'OrderMeal/getMealPlaceAsDict',
                    data: { DinningRoomID: DinningRoomId }
                });
            };
            serive.getOrderBookAsDict = function (postData) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'OrderMeal/getOrderBookAsDict',
                    data: postData
                });
            };
            serive.getDataByID = function (id) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'OrderMealMealPlace/GetDataByID/' + id
                });
            };
            //根据字典名称获取字典信息
            serive.getDictListByName = function (DDName) {//获取字典
                return $http({
                    method: 'POST',
                    url: CurPath + 'DataDictionary/GetDictListByName',
                    data: { DDName: DDName }
                });
            };

            return serive;
        }]);
        Date.prototype.Format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "H+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>
}
<style>

</style>
<!----->

<div xmlns:ng="http://angularjs.org" class="public-form">
    <form action="" method="post" id="ng-app" ng-app="CreateOrUpdate" ng-controller="CreateController" name="editForm" novalidate>
        <div class="forView" style="text-align :center;padding :5px;height :50px ;font-size :25px">
            <span style='color:red;'>您的账户未开通，请通知管理员开通后再试。</span>
        </div>
        <div class="forEdit">
            <table>
                <tr>
                    <th>
                        用户姓名：
                    </th>
                    <td>
                        @ViewData["UserRealName"]
                    </td>
                </tr>
                <tr>
                    <th>
                        用户余额：
                    </th>
                    <td>
                        @ViewData["UserBalance"]（元）
                    </td>
                </tr>
                <tr>
                    <th>
                        请选择食堂：
                    </th>
                    <td>
                        <div class="ui-input">
                            <div class="selectdrapdown">
                                <select class="cell-input" name="DinningRoomID" ng-model="curObj.DinningRoomID" ng-change="ChangeDinningRoom(curObj.DinningRoomID,curObj.MealTime);" required style="width:90px;">
                                    <option ng-repeat="x in dictDinningRoom" value="{{x.DinningRoomID}}">{{x.DinningRoomName}}</option>
                                </select>
                                <strong class="must-options">*</strong>
                                <div class="ui-tips" ng-show="editForm.DinningRoomID.$invalid&&editForm.failSubmited">
                                    <div class="note"><i class="icon-note"></i>输入提示</div>
                                    <div class="error" style="display:block">
                                        <i class="icon-error"></i>
                                        <span ng-hide="editForm.DinningRoomID.$valid">请选择食堂</span>
                                    </div>
                                    <div class="correct"><i class="icon-correct"></i></div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        请选择用餐时段：
                    </th>
                    <td>
                        <div class="ui-input">
                            <div class="selectdrapdown">
                                <select class="cell-input" ng-model="curObj.MealTime" required name="MealTime" ng-change="ChangeMealTime(curObj.DinningRoomID,curObj.MealTime);" style="width:90px;" ng-options="x.MealTimeType as x.MealTimeType for x in dictMealTime"></select>
                                <strong class="must-options">*</strong>
                                <div class="ui-tips" ng-show="editForm.MealTime.$invalid&&editForm.failSubmited">
                                    <div class="note"><i class="icon-note"></i>输入提示</div>
                                    <div class="error" style="display:block">
                                        <i class="icon-error"></i>
                                        <span ng-hide="editForm.MealTime.$valid">请选择用餐时段</span>
                                    </div>
                                    <div class="correct"><i class="icon-correct"></i></div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        请选择用餐地点：
                    </th>
                    <td>
                        <div class="ui-input">
                            <div class="selectdrapdown">
                                <select class="cell-input" ng-model="curObj.MealPlace" required name="MealPlace" style="width:90px;" ng-options="x.MealPlaceId as x.MealPlaceName for x in dictMealPlace"></select>
                                <strong class="must-options">*</strong>
                                <div class="ui-tips" ng-show="editForm.MealPlace.$invalid&&editForm.failSubmited">
                                    <div class="note"><i class="icon-note"></i>输入提示</div>
                                    <div class="error" style="display:block">
                                        <i class="icon-error"></i>
                                        <span ng-hide="editForm.MealPlace.$valid">请选择用餐地点</span>
                                    </div>
                                    <div class="correct"><i class="icon-correct"></i></div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        请选择套餐：
                    </th>
                    <td>
                        <div class="ui-input">
                            <div class="selectdrapdown">
                                <select class="cell-input" ng-model="curObj.MealPackage" required name="MealPackage" style="width:160px;" ng-options="x.PackageId as x.PackageName for x in dictMealPackage"></select>
                                <strong class="must-options">*</strong>
                                <div class="ui-tips" ng-show="editForm.MealPackage.$invalid&&editForm.failSubmited">
                                    <div class="note"><i class="icon-note"></i>输入提示</div>
                                    <div class="error" style="display:block">
                                        <i class="icon-error"></i>
                                        <span ng-hide="editForm.MealPackage.$valid">请选择套餐</span>
                                    </div>
                                    <div class="correct"><i class="icon-correct"></i></div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        预约订餐类型：
                    </th>
                    <td>
                        <div class="ui-input">
                            <div class="selectdrapdown">
                                <select class="cell-input" ng-model="curObj.OrderType" ng-change="ChangeOrderType();" name="OrderType" style="width:90px;">
                                    <option value="O">单次订餐</option>
                                    <option value="P">批量订餐</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="forBook" id="FBook">
                    <th>
                        预约设置：
                    </th>
                    <td>
                        <div class="ui-input">
                            <div class="selectdrapdown">
                                <select class="cell-input" ng-model="curObj.OrderBook" name="OrderBook" style="width:90px;" ng-options="x.BookId as x.BookName for x in dictOrderBook"></select>
                                <div ng-switch="curObj.OrderType"><strong class="must-options" ng-switch-when="P">*</strong></div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="forBook" id="FBook">
                    <th>
                        用餐开始时间：
                    </th>
                    <td>
                        <div class="ui-input">
                            <input type="text" id="StartDate" name="StartDate" date-Picker ng-model="curObj.StartDate" class="cell-input cell-input-data" readonly>
                            <i class="icon-data"></i>
                            <div ng-switch="curObj.OrderType"><strong class="must-options" ng-switch-when="P">*</strong></div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <td>
                        <a ng-click="save()" class="cell-btn-blue" id="ForEdit_saveOption" style="width:70px; margin-right:20px;">提交订单</a>
                    </td>
                </tr>
                <tr class="forOrder">
                    <th>
                        您今日已定的套餐：
                    </th>
                    <td>
                        <table id="AttachmentTable" cellpadding="0" cellspacing="0" style="width:80%">
                            <tr>
                                <th style="background-color:#F4F4F4; text-align:center; width:20%">套餐名称</th>
                                <th style="background-color:#F4F4F4; text-align:center;width:10%">价格</th>
                                <th style="background-color:#F4F4F4; text-align:center; width:20%">用餐地点</th>
                                <th style="background-color:#F4F4F4; text-align:center;width:10%">餐时</th>
                                <th style="background-color:#F4F4F4; text-align:center;width:20%">订餐类型</th>
                                <th style="background-color:#F4F4F4; text-align:center;width:20%">操作</th>
                            </tr>
                            <tr ng-repeat="x in ListPageOrderMealData">
                                <td style="text-align:center;">{{x.PackageName}}</td>
                                <td style="text-align:center;">{{x.PackagePrice.toFixed(2)}}</td>
                                @*<td ng-bind="x.Birthday|date:'yyyy-MM-dd'"></td>*@
                                <td style="text-align:center;">{{x.MealPlaceName}}</td>
                                <td style="text-align:center;">{{x.MealTimeType}}</td>
                                <td style="text-align:center;">{{x.OrderStateName}}</td>
                                <td style="text-align:center;">
                                    <div>
                                        <a href="javascript:void(0);" ng-click="BackData(x.Id)" style="width:70px;">退订</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="forSOrder">
                    <th>
                        您已预订的套餐：
                    </th>
                    <td>
                        <table id="AttachmentTable" cellpadding="0" cellspacing="0" style="width:90%">
                            <tr>
                                <th style="background-color:#F4F4F4; text-align:center; width:20%">套餐名称</th>
                                <th style="background-color:#F4F4F4; text-align:center; width:5%">价格</th>
                                <th style="background-color:#F4F4F4; text-align:center; width:20%">用餐地点</th>
                                <th style="background-color:#F4F4F4; text-align:center; width:10%">餐时</th>
                                <th style="background-color:#F4F4F4; text-align:center; width:10%">订餐类型</th>
                                <th style="background-color:#F4F4F4; text-align:center; width:25%">有效期</th>
                                <th style="background-color:#F4F4F4; text-align:center; width:10%">操作</th>
                            </tr>
                            <tr ng-repeat="x in ListPageSubscribeOrderMealData">
                                <td style="text-align:center;">{{x.PackageName}}</td>
                                <td style="text-align:center;">{{x.PackagePrice.toFixed(2)}}</td>
                                @*<td ng-bind="x.Birthday|date:'yyyy-MM-dd'"></td>*@
                                <td style="text-align:center;">{{x.MealPlaceName}}</td>
                                <td style="text-align:center;">{{x.MealTimeType}}</td>
                                <td style="text-align:center;">{{x.OrderStateName}}</td>
                                <td style="text-align:center;">{{x.PeriodTime}}</td>
                                <td style="text-align:center;">
                                    <div>
                                        <a href="javascript:void(0);" ng-click="BackSubscribeOrderData(x.Id)" style="width:70px;">退订</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>




    </form>
</div>
<!-- end--->

