
@{
    ViewBag.Title = "历史项目暂估申请流程日志查看";
    Layout = "~/Views/Shared/_Content.cshtml";
}

@section Scripts{
    <script src="~/Content/Javascript/jscroll.js"></script>
    <script src="~/Content/app/number.js"></script>
    <script>
        var type = '@ViewData["type"]';
        $(function () {
            setByType();
        });

        function setByType() {
            if (type != 'edit') {
                $('.forEdit').remove();
            }
            else {
                $('.editWithout').remove();
            }
        }

        function addJsCroll(elememt) {
            if ($(elememt).length > 0) {
                $(elememt).jscroll({
                    W: "8px",
                    BgUrl: "",
                    Bg: "#f4f4f4",
                    Bar: {
                        //Pos: "bottom",
                        Bd: { Out: "#f4f4f4", Hover: "#f4f4f4" },
                        Bg: { Out: "#0085d1", Hover: "#03a3fe", Focus: "#03a3fe" }
                    },
                    Btn: { btn: false }
                });
            }
        }


        var app = angular.module('CreateOrUpdate', ['number']);
        app.config(['$locationProvider', function ($locationProvider) {
            $locationProvider.html5Mode(true);
        }]);
        app.controller('CreateController', ['$scope', 'BusinessService', '$filter', function ($scope, BusinessService, $filter) {
            var ApplyID = '@ViewData["ApplyID"]';
            var RealName = '@ViewData["RealName"]';
            var DeptName = '@ViewData["DeptName"]';
            var Mobile = '@ViewData["Mobile"]';
            var NewTitle = '@ViewData["NewTitle"]';
            $scope.curObj = {
                appData: { Title: NewTitle },
                detailDatas: {},
                sumbitUser: { RealName: RealName, Mobile: Mobile }
            }
            $scope.ActivitiesCompleted = [];

            $scope.getDetails = function () {
                //获取申请明细信息
                box.load("getDataDetailByApplyID");
                BusinessService.getDataDetailByApplyID(ApplyID).success(function (response) {
                    box.ready("getDataDetailByApplyID");
                    $scope.curObj.detailDatas = response;
                    choseArr = [];
                }).error(function (err) {
                    box.ready("getDataDetailByApplyID");
                    //alert("网络出错！");
                    box.alert("网络出错！", { icon: 'error' });
                });
            }

            //获取当前数据
            if (ApplyID != null && ApplyID.toString().length > 0) {

                BusinessService.getDataByID(ApplyID).success(function (response) {
                    $scope.curObj.appData = response.appData;
                    $scope.curObj.sumbitUser = response.sumbitUser;
                    if ($scope.curObj.appData.Title == null || $scope.curObj.appData.Title == '') {
                        $scope.curObj.appData.Title = NewTitle;
                    }
                    if ($scope.curObj.sumbitUser == null) {
                        $scope.curObj.sumbitUser = { RealName: RealName, Mobile: Mobile, DeptName: DeptName };
                    }

                    //获取流程步骤执行情况信息
                    if ($scope.curObj.appData.WorkflowInstanceId != null && $scope.curObj.appData.WorkflowInstanceId != '')
                        BusinessService.getActivitiesCompletedByID($scope.curObj.appData.WorkflowInstanceId).success(function (response2) {
                            $scope.ActivitiesCompleted = response2.items;
                        })

                }).error(function (response) {
                    box.alert("网络出错！", { icon: 'error' });
                });

                $scope.getDetails();
            }


            /*实现全选，多选操作*/
            var choseArr = new Array();
            $scope.x = false;//默认未选中
            $scope.all = function ($event) {//全选
                var isChecked = $event.target.checked;
                angular.element("[ng-model='x']").prop("checked", isChecked);
                if (isChecked == true) {
                    choseArr = [];
                    angular.forEach($scope.curObj.detailDatas, function (obj) {
                        choseArr.push(obj.ID);//此处ID名称不同的页面名称不同，需要修改
                    });
                }
                else
                    choseArr = [];
            };
            $scope.chk = function ($event, z) {//单选或者多选
                var isChecked = $event.target.checked;
                if (isChecked == true) {//选中
                    if (choseArr.indexOf(z) < 0) {
                        choseArr.push(z);
                    }
                    if (choseArr.length == $scope.curObj.detailDatas.length) {
                        $scope.master = true;
                    }
                }
                else {//取消选中
                    var index = choseArr.indexOf(z);
                    if (index > -1) {
                        choseArr.splice(index, 1);
                        $scope.master = false;
                    }
                }
            };


            //点击标题
            $scope.clickTitle = function (obj) {
                var src = CurPath + 'AgoEstimate/AgoEstimateApplyDetailEdit?ID=' + obj.ID;
                src += '&type=look';
                window.location.href = src;
            }

        }]);
        //业务类
        app.factory('BusinessService', ['$http', function ($http) {
            var serive = {};

            serive.getDataByID = function (id) {//根据入库单ID获取数据
                return $http({
                    method: 'POST',
                    url: CurPath + 'AgoEstimate/GetDataByID_AgoEstimateApply?id=' + id
                });
            };
            serive.getDataDetailByApplyID = function (ApplyID) {//根据入库单ID获取数据
                return $http({
                    method: 'POST',
                    url: CurPath + 'AgoEstimate/GetDataByApplyID_AgoEstimateApplyDetail?ApplyID=' + ApplyID
                });
            };

            serive.getActivitiesCompletedByID = function (id) {//根据ID获取流程信息
                return $http({
                    method: 'POST',
                    url: CurPath + 'Workflow/GetActivitiesCompletedByID?WorkflowInstanceId=' + id
                });
            };

            serive.delDetails = function (ids) {
                return $http({
                    method: 'POST',
                    url: CurPath + 'AgoEstimate/Delete_AgoEstimateApplyDetail',
                    data: { ids: ids }
                });
            };

            return serive;
        }]);

        app.directive('onFinishRenderFilters', function ($timeout) {
            return {
                restrict: 'A',
                link: function (scope, element, attr) {
                    if (scope.$last === true) {
                        $timeout(function () {
                            setByType();
                            //scope.$emit('ngRepeatFinished');
                            addJsCroll(element.parents('.jscroll'));
                        });
                    }
                }
            };
        });

    </script>
    <style>
        .the-operation1 ul li a {
            padding: 0px;
        }

        .public-form {
            margin-bottom: 0px;
            margin-top: 20px;
        }

        .public-table-main {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .main-flip {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    </style>
}
<!--公告编辑--->

<div xmlns:ng="http://angularjs.org">
    <form action="" method="post" id="ng-app" ng-app="CreateOrUpdate" ng-controller="CreateController" name="editForm" novalidate>
        <div class="public-form">
            <div style="color:blue;font-size:13px; margin-top:10px; margin-left:10px;">基本信息：</div>
            <table>
                <tr>
                    <th style="width:20%">申请单号：</th>
                    <td>{{(curObj.appData.State==null||curObj.appData.State==0)?'(提交时自动生成)':curObj.appData.Series}}</td>

                    <th>标题：</th>
                    <td ng-bind="curObj.appData.Title"></td>
                </tr>
            </table>
        </div>

        <div style="color:blue;font-size:13px; margin-top:10px;margin-left:10px;">申请明细：</div>
        <div class="public-table-main">
            <div style="margin-bottom:20px;">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <th style="display:none;"><input type="checkbox" ng-checked="ischecked" ng-model="master" ng-click="all($event)" /> </th>
                        <th>年份</th>
                        <th>月份</th>
                        <th>项目名称</th>
                        <th>项目编号</th>
                        <th>合同名称</th>
                        <th>合同编号</th>
                        <th>合同金额(元)</th>
                        <th>实际合同金额(元)</th>
                        <th>形象进度(%)</th>
                        <th>已付款金额(元)</th>
                        <th>暂估金额(元)</th>
                    </tr>
                    <tr ng-repeat="emp in curObj.detailDatas" on-finish-render-filters>
                        <td style="display:none;"><input type="checkbox" id="{{emp.ID}}" ng-model="x" ng-checked="x" ng-click="chk($event,emp.ID)" /></td>
                        <td ng-bind="emp.Year"></td>
                        <td ng-bind="emp.Month"></td>
                        <td><a ng-click="clickTitle(emp)" style="color:blue;">{{emp.ProjectName}}</a></td>
                        <td ng-bind="emp.ProjectID"></td>
                        <td ng-bind="emp.ContractName"></td>
                        <td ng-bind="emp.ContractID"></td>
                        <td ng-bind="emp.SignTotal"></td>
                        <td ng-bind="emp.PayTotal"></td>
                        <td ng-bind="emp.Rate+'%'"></td>
                        <td ng-bind="emp.Pay"></td>
                        <td ng-bind="emp.NotPay"></td>
                    </tr>

                </table>
            </div>

        </div>

        <div style="color:blue; margin-top:10px;margin-left:10px;">处理信息</div>
        <div class="public-table-main" style="margin-bottom:20px;">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <th>步骤</th>
                    <th>处理人</th>
                    <th>执行时间</th>
                    <th>处理方式</th>
                    <th>处理意见</th>
                </tr>
                <tr ng-repeat="emp in ActivitiesCompleted">
                    <td><span style="color:red;">{{emp.Command=='reject'?'【退还】':''}}</span><span>{{emp.ActivityName}}</span></td>
                    <td ng-bind="emp.ActorDescription"></td>
                    <td ng-bind="emp.FinishedTime|date:'yyyy-MM-dd HH:mm:ss'"></td>
                    <td>{{emp.CommandText}}</td>
                    <td>{{emp.ActivityName=='提单'?'提交工单':emp.Reason}}</td>
                </tr>

            </table>
        </div>
        <div style="padding-left:50px;"><a onclick="javascript:history.go(-1)" class="cell-btn-orange" style="width:70px;">返回</a></div>
    </form>
</div>
<!--公告编辑 end--->
